NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC6VCAwugvO_oGhPrToWEt2S284HKc3aaw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dxc-portal.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dxc-portal
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dxc-portal.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=632934154652
NEXT_PUBLIC_FIREBASE_APP_ID=1:632934154652:web:2f5bed29ecc310b0848859
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Y9DDRGF03Q
NEXT_PUBLIC_APP_URL=http://localhost:3000
