rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /avatars/{userId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /covers/{userId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /clients/{clientId}/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /service-requests/{requestId}/{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}
